<div class="jumbotron mt-4">
    <h1 class="display-4">Experiencia laboral</h1>
    <h1 class="display-6">del Mtro. {{user.name}}</h1>
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-2"></div>

            <div class="col-8 ">

                <div class="mb-3">
                    <label class="form-label"> <strong> Nombre de la institución:</strong></label>
                    <input type="text" class="form-control" value="{{user.name}}">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de inicio:</label>
                    <input type="text" class="form-control" value="{{user.createdAt}}"
                        aria-label="readonly input example">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Fecha de termino:</label>
                    <input type="text" class="form-control" value="{{user.createdAt}}"
                        aria-label="readonly input example">
                </div>

                 <div class="mb-3">
                    <label class="form-label">Puesto:</label>
                    <input type="text" class="form-control" value="{{user}}">
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="javascript:history.back()" class="btn btn-danger">Volver</a>
                </div>
            </div>

            <div class="col-2">
            </div>

        </div>
    </div>
</div>