<!-- contact section starts  -->
<section class="contact services">
    
    <h1 class="heading"><span> Editar </span> Datos Generales </h1>

    <div class="row">

        <div class="image">
            <img src="{{user.path}}" alt="Inserte una foto de perfil">
            <div>
                <a href="/upload" class="btn">
                    Editar foto
                </a>
            </div>
        </div>

        <form action="/info/edit/{{user.id}}?_method=PUT" method="POST" style="background-color:#E5E8E8;">
            <h3 class="text-center">Editar Datos</h3>

            <h4>Nombre Completo</h4>
            <input type="text" placeholder="" class="box" value="{{user.name}}" readonly>
            <h4>Correo Institucional</h4>
            <input type="text" placeholder="" class="box" value="{{user.email}}" readonly>
            <h4>Direccion</h4>
            <input type="text" placeholder="" class="box" value="{{user.direccion}}" name="direccion">
            <h4>Puesto</h4>
            <input type="text" placeholder="" class="box" value="{{user.rango}}" readonly>
            <h4>Telefono</h4>
            <input type="text" placeholder="" class="box" value="{{user.telefono}}" name="telefono">
            <h4>Fecha de Ingreso</h4>
            <input type="text" placeholder="" class="box" value="{{user.createdAt}}" readonly>
            <h4>Nivel Academico</h4>
            <input type="text" placeholder="" class="box" value="{{user.nivelA}}" readonly>
            <h4>Nivel Investigacion</h4>
            <input type="text" placeholder="" class="box" value="{{user.nivelI}}" readonly>

            <div>
                <button class="btn" type="submit">
                    Guardar
                </button>
                <a href="/rol" class="btn">Volver</a>
            </div>
        </form>
    </div>

</section>

<!-- contact section ends -->


