<!-- contact section starts  -->
<section class="contact services">

    <h1 class="heading"><span> Editar </span> Datos Generales </h1>

    <div class="row">

        <div class="image">
            <img src="{{user.path}}" alt="Inserte una foto de perfil">
            <div class="box-container">

                <div class="box centrado">

                    <div>
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                    <p>Selecciona si desea cambiar su foto de perfil</p>

                            <input type="file" name="image" class="box"> 
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Cargar
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <form action="/info/edit/{{user.id}}?_method=PUT" method="POST" style="background-color:#fff;">
            <h3 class="text-center">Editar Datos</h3>

            <h4>Nombre completo</h4>
            <input type="text" placeholder="" class="box" value="{{user.name}}" readonly>
            <h4>Correo institucional</h4>
            <input type="text" placeholder="" class="box" value="{{user.email}}" readonly>
            <h4>Dirección</h4>
            <input type="text" placeholder="" class="box" value="{{user.direccion}}" name="direccion">
            <h4>Puesto</h4>
            <input type="text" placeholder="" class="box" value="{{user.rango}}" readonly>
            <h4>Teléfono</h4>
            <input type="text" placeholder="" class="box" value="{{user.telefono}}" name="telefono">
            <h4>Fecha de ingreso</h4>
            <input type="text" placeholder="" class="box" value="{{user.createdAt}}" readonly>
            <h4>Nivel académico</h4>
            <input type="text" placeholder="" class="box" value="{{user.nivelA}}" readonly>
            <h4>Nivel investigación</h4>
            <input type="text" placeholder="" class="box" value="{{user.nivelI}}" readonly>

            <div>
                <button class="btn" type="submit">
                    Guardar
                </button>
                <a href="/rol" class="btn">Volver</a>
            </div>
        </form>
    </div>

</section>

<!-- contact section ends -->