<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>

<!-- pricing section starts  -->
<section class="pricing services" id="pricing">
    <h1 class="heading">Imprimir <span> reportes</span> </h1>
    <div class="box-contanier">

        <div class="box">
            <span class="fas fa-print"></span>
            <div class="container">
                <a href="javascript:history.back()" class="btn m-2">Volver</a>
            </div>

            <h3>Reportes actuales</h3>
            <div class="skills__container container2 grid">
                
                <div>
                    <!--==================== SKILLS 1 ====================-->
                    <div class="skills__content skills__open">
                        <div class="skills__header">

                            <div>
                                <h1>Artículos</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>
                        </div>

                        <div class="skills__list grid">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each actividad}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--==================== SKILLS 2 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Libros</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table>
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each libro}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div>
                    <!--==================== SKILLS 3 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Capítulos de libros</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table  >
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each caplibro}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--==================== SKILLS 4 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Reportes Técnicos</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table  >
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each reportestec}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <!--==================== SKILLS 5 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Memorias</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>
                        </div>

                        <div class="skills__list grid">
                            <table>
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each memoria}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--==================== SKILLS 6 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Patentes</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table>
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each patente}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div>
                    <!--==================== SKILLS 7 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Congresos</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table  >
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each congreso}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--==================== SKILLS 8 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Cursos</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table  >
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each curso}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <!--==================== SKILLS 9 ====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">

                            <div>
                                <h1>Diplomados</h1>
                            </div>

                            <i class="fas fa-angle-down skills__arrow"></i>

                        </div>

                        <div class="skills__list grid">
                            <table  >
                                <thead>
                                    <tr class="tablacolor">
                                        <th scope="col">
                                            <h1 class="skills__title">N.</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Título</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Fecha de registro</h1>
                                        </th>
                                        <th scope="col">
                                            <h1 class="skills__title">Acciones</h1>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {{#each diplomado}}

                                    <tr>
                                        <th scope="row">{{@index}}</th>
                                        <td>
                                            {{title}}
                                        </td>

                                        <td>
                                            {{createdAt}}
                                        </td>

                                        <td>
                                            <a href="#" class="btn"><i class="fas fa-edit"></i></a>
                                            <a href="#" class="btn"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- pricing section ends -->

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
