<!-- pricing section starts  -->
<section class="pricing services" id="pricing">
    <h1 class="heading">Imprimir <span> reportes</span> </h1>
    <div class="box-contanier">

        <div class="box">
            <span class="fas fa-print"></span>
            <div class="container">

                <a href="javascript:history.back()" class="btn m-2">Volver</a>
            </div>

            <h3>Reportes actuales</h3>

            <table class="resp">
                <thead>
                    <tr class="tablacolor">
                        <th scope="col">
                            <h1>#</h1>
                        </th>
                        <th scope="col">
                            <h1>Proyecto</h1>
                        </th>
                        <th scope="col">
                            <h1>Descripción</h1>
                        </th>
                        <th scope="col">
                            <h1>Acciones</h1>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each notes}}

                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>
                            <a href="#" class="btn">Imprimir Reporte</a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- pricing section ends -->
















<div class="jumbotron mt-4">
    <h1 class="display-4">Curriculum</h1>
    <hr class="my-4">
    <a href="javascript:history.back()" class="btn btn-danger m-2">Volver</a>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Proyecto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>

        <tbody>

            {{#each notes}}

            <tr>
                <form action="/cur/?_method=GET" method="POST">
                    <input type="hidden" name="_method" value="GET">
                    <th scope="row">{{1}}</th>
                    <td><input class="form-control" name="title" value="{{title}}" readonly></td>
                    <td><input class="form-control" name="description" value="{{description}}" readonly></td>
                    <td>
                        <button type="submit" class="btn btn-success btn-block btn-sm">
                            Imprimir Curriculum
                        </button>
                    </td>
                </form>
            </tr>

            {{/each}}

        </tbody>
    </table>

</div>